Below are used libraries in Lithuanian LKL and MLKL leagues statistic data analysis

pandas==2.1.1
numpy==1.25.2
matplotlib==3.7.3
seaborn==0.13.0
BeautifulSoup==4.12.2
requests==2.31.0

###pip install -r requirements.txt

